body {
  height: 100%;
  width: 100%;
  background: #FAEBD7;
  background-size:100%;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FAEBD7;
    font: 27.5px Montserrat;
}

li {
    float: left;
}
 
li a {
    display: block;
    color: #47D9BF;
    text-align: center;
    padding: 11px 24.8px;
    text-decoration: none;
}

li a:hover {
    -webkit-text-fill-color: #FFFFFF;
}
.project {
    padding-bottom: 40%;
}

.project h1,
.project h2,
.project h3,
.project h4,
.project h5,
.project h6{
  color:#000000;
}

.left {
  display: inline-block;
  font: 20px Nunito;
  width: 50%;
  padding: 15px;
  float: left;
}

.left.projTitle{
  font: 20px Nunito;
}

.right {
  display: inline-block;
  margin:0;
  font: 1.1em Roboto;
  width: 45%;
  padding: 10px;
  float: left;
}

.left img{
  width: 100%;
  border: 1px solid;
}

.description{
    font: 1.1em Roboto;
    text-align: justify;
    float: none;
    line-height: 1.5;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font: 18px Montserrat;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px
}
.btn-danger {
    font: 155px ;
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a
}
.btn-danger:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925
}
.btn-group-lg>.btn,
.btn-lg {
    float:left;
    margin-left: 10px;
    padding: 9px 10px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px

}

@media (max-width: 1100px) {
  .project{
    margin-left: 5%;
    width: 90%;
  }
  .projImage{
    width: 80%;
    margin-left: 10%;
  }
  .description{
    float:left;
    width: 57%;
    margin:0;
    margin-top:50px; 
    margin-left: 7%;
  }
  .linkToProject{
    float: left;
    clear: both;
  }
}

@media (max-width: 800px) {
  .project{
    width: 100%;
    margin-left: 0;
  }
  .projTitle{
    font-size: 20px;
    margin-bottom: 10px;
  }
  .projImage{
    width: 90%;
    margin-left: 5%;
  }

  .description{
    float:left;
    width: 90%;
    margin:0;
    margin-top:0px; 
    margin-left: 5%;
  }
}
